Identifier: {{ serie.identifier }}
Title: {{ serie.title }}
Description: {{ serie.description }}
Creator: {{ serie.creator }}
Created: {{ serie.created }}
{# note: available fields but not shown
Subjects: {{ serie.subjects }}
Organizers: {{ serie.organizers }}
Publishers: {{ serie.publishers }}
Language: {{ serie.language }}
Contributors: {{ serie.contributors }}
License: {{ serie.license }}
Rightsholder: {{ serie.rightsholder }}
#}
